/Exercises/tempConvertor/nbproject/private/
/Exercises/tempConvertor/build/
/Exercises/ifExercise/nbproject/private/
/Exercises/ifExercise/build/
/Exercises/exercise3/nbproject/private/
/Exercises/exercise3/build/
/Exercises/Freelunch/nbproject/private/
/Exercises/Freelunch/build/
/Exercises/dragon/nbproject/private/
/Exercises/exceptions/exef/nbproject/private/
/Exercises/exceptions/exef/build/
/Exercises/exceptions/remainder3/nbproject/private/
/Exercises/exceptions/remainder3/build/
/Exercises/exceptions/ClassExample/nbproject/private/
/Exercises/exceptions/Question 5/nbproject/private/
/Exercises/exceptions/Question5/nbproject/private/
/Exercises/exceptions/Question5/build/
/Exercises/exceptions/Question6/nbproject/private/
/Exercises/exceptions/Question6/build/
/Exercises/exceptions/Question4/nbproject/private/
/Exercises/exceptions/Question4/build/
/Exercises/exceptions/Question3/nbproject/private/
/Exercises/exceptions/Question3/build/
/Exercises/exceptions/Question2/nbproject/private/
/Exercises/exceptions/Question2/build/
/Exercises/exceptions/Question1/nbproject/private/
/Exercises/exceptions/Question1/build/
/Exercises/exceptions/Question7/nbproject/private/
/Exercises/exceptions/Question7/build/
/Exercises/exceptions/Question8/nbproject/private/
/Exercises/exceptions/Question8/build/
/Exercises/exceptions/Question9/nbproject/private/
/Exercises/exceptions/Question9/build/
/Exercises/exceptions/camagwini/nbproject/private/
/Exercises/exceptions/camagwini/build/
/Exercises/exceptions/CA1/nbproject/private/
/Exercises/exceptions/CA1/build/
/Exercises/exceptions/ca2/nbproject/private/
/Exercises/exceptions/ca2/build/
/Exercises/exceptions/ca3/nbproject/private/
/Exercises/exceptions/ca3/build/